[RoboSAPIENSIO]
name = {{name}}
description = {{description}}

[Code Generation]
latest = {{timestamp}}

{% for processor in managingSystem.processors %}
[env:{{processor.name}}]
platform = "to be defined"
IP address = {{processor.IP}}
runs RAP backbone = {{processor.runs_rap_backbone}}
{% endfor %}